* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e0f7fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

form {
    background-color: #ffffff;
    padding: 1.2rem; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px; 
    text-align: center;
}

h1 {
    color: #0277bd;
    margin-bottom: 1rem; 
    font-size: 1.2rem; 
}


label {
    color: #01579b;
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 0.3rem; 
    font-size: 0.9rem; 
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.6rem; 
    margin-bottom: 0.9rem; 
    border: 1px solid #b3e5fc;
    border-radius: 5px;
    background-color: #e1f5fe;
    font-size: 0.9rem; 
    color: #01579b;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0288d1;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 0.6rem; 
    background-color: #0277bd;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.9rem; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #01579b;
}

.success-message {
    color: #388e3c;
    background-color: #e8f5e9;
    padding: 0.8rem; 
    margin-bottom: 0.8rem; 
    border-radius: 5px;
    font-size: 0.85rem; 
}

.error-message {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 0.8rem; 
    margin-bottom: 0.8rem; 
    border-radius: 5px;
    font-size: 0.85rem; 
}

form div {
    margin-bottom: 0.8rem; 
}

#backToLoginButton {
    width: 100%;
    padding: 0.6rem; 
    background-color: #03a9f4;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.9rem; 
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.8rem; 
    transition: background-color 0.3s ease;
}

#backToLoginButton:hover {
    background-color: #0288d1;
}

.image-container {
    margin-bottom: 15px; 
}

.login-image {
    width: 100%;
    border-radius: 10px;
}
