<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/userList.css">
</head>
<body>
    <h1>Usuarios Registrados</h1>
    <div class="user-list">
        <div th:each="user : ${users}" class="user-item">
            <span th:text="${user.username}"></span>
            <button class="chat-button" th:data-username="${user.username}">Iniciar Chat</button>
        </div>
    </div>

    <!-- Botón de Logout -->
    <div class="logout-container">
        <button id="logoutButton">Logout</button>
    </div>

    <script>
        document.querySelectorAll('.chat-button').forEach(button => {
            button.addEventListener('click', function() {
                const username = this.getAttribute('data-username');
                const token = getCookie('jwtToken'); // Obtener el token JWT desde la cookie

                // Crear un enlace invisible para hacer la redirección con el token en el encabezado
                const xhr = new XMLHttpRequest();
                xhr.open('GET', `/chat/start/${username}`, true);
                xhr.setRequestHeader('Authorization', 'Bearer ' + token);

                // Redirigir al hacer clic
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        window.location.href = `/chat/start/${username}`;
                    } else {
                        alert('Error al iniciar chat. Acceso denegado o problema con el token.');
                    }
                };
                xhr.send();
            });
        });

        // Función para obtener el valor de una cookie por su nombre
        function getCookie(name) {
            let cookieArr = document.cookie.split(";");
            for (let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");
                if (name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        // Función para borrar la cookie
        function deleteCookie(name) {
            document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }

        // Función para el botón de Logout
        document.getElementById('logoutButton').addEventListener('click', function() {
            deleteCookie('jwtToken'); // Eliminar la cookie jwtToken
            window.location.href = '/login'; // Redirigir a la página de login
        });
    </script>
</body>
</html>
